body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    text-align: center;
}

.hexcolor{
    text-transform: capitalize;
}

.hex{
    font-size: 3rem;
}

.btn{
    color: rgb(5, 99, 223);
    border: rgb(5, 99, 223);
    border-radius: 7px;
    background: rgb(44, 42, 42);
    font-size: 1.6rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    outline: none;
    text-transform: capitalize;
}

.btn:hover{
    background: black;
}